.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  } 
          label {
            
             
              font-size: 32px;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
          }
          div.complete {
              position: fixed;
              top: 60%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 10%;
              
          }
         div.form2{
          margin-top: 30px;  
         }
  
          input {
              
              
              padding: 10px;
          }
  
          span {
              color: red;
              
          }
  
          select{
              
              padding: 13px;
             
  
          }
  
          button {
              padding: 20px;
              margin-top: 30px;  
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
              background-color:#0a0a23;
               color: #fff;
               border:none;
               border-radius:10px;
               
          }
          .button3 {background-color: #800000;}
          div#tables {
              height: 200px;
              overflow: auto;
          }
  
          table,
          th,
          td {
              background-color: #1abc9c;
              margin-top: 30px;  
              border: 1px solid black;
              border-collapse: collapse;
              font-size: 24px;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
              padding: 20px;
          }
  
          th {
              width: 20%;
          }